{% include partials/section-open.html 
  section_size=include.section_size
  section_padding_remove=include.section_padding_remove
  section_header_align=include.section_header_align
  section_height=include.section_height
  section_header_color=include.section_header_color
  section_container=include.section_container
  section_title=include.section_title
  section_subtitle=include.section_subtitle
  section_background=include.section_background
  section_image=include.section_image
  section_video=include.section_video
  section_image_align=include.section_image_align
  section_overlay=include.section_overlay
  section_content_align=include.section_content_align
  section_content_color=include.section_content_color
%}

{% unless site.instagram_accesstoken %}
<div class="uk-alert-danger" data-uk-alert>
  <p>Create Instagram <a href="https://instagram.pixelunion.net/">access token</a> and add it to _config.yml file, e.g. instagram_accesstoken: 12537527232323223</p>
</div>
{% endunless %}
<div id="instagram" class="uk-child-width-1-2@s uk-child-width-{{ include.grid | default: '1-4' }}@m{% if include.gutter %} uk-grid-{{ include.gutter }}{% endif %}" data-uk-grid></div>
<script>
  instafetch.init({
    accessToken: '{{ site.instagram_accesstoken }}',
    target: 'instagram',
    numOfPics: {{ include.count | default: '5' }},
    caption: false
  });
</script>
{% include partials/section-close.html 
  section_size=include.section_size 
	section_background=include.section_background
	section_image=include.section_image
	section_video=include.section_video
%}