{% if page.navbar.transparent_color %}
  {% assign transparent_color = page.navbar.transparent_color %}
{% else %}
  {% assign transparent_color = site.navbar.color %}
{% endif %}

{% if page.navbar.color %}
  {% assign color = page.navbar.color %}
{% else %}
  {% assign color = site.navbar.color %}
{% endif %}

{% if page.navbar.sticky == true %}
  {% assign sticky = true %}
{% elsif page.navbar.sticky != false %}
  {% if site.navbar.sticky %}
    {% assign sticky = true %}
  {% else %}
    {% assign sticky = false %}
  {% endif %}
{% endif %}

{% if page.navbar.scroll_up %}
  {% assign scroll_up = true %}
{% elsif page.navbar.scroll_up != false %}
  {% if site.navbar.scroll_up %}
    {% assign scroll_up = true %}
  {% else %}
    {% assign scroll_up = false %}
  {% endif %}
{% endif %}

{% if page.navbar.animation %}
  {% assign animation = true %}
{% elsif page.navbar.animation != false %}
  {% if site.navbar.animation %}
    {% assign animation = true %}
  {% else %}
    {% assign animation = false %}
  {% endif %}
{% endif %}

{% if page.layout =='post' and page.header.background_image %}
  {% assign background_image = page.header.background_image %}
{% elsif page.layout =='post' and page.image %}
  {% assign background_image = page.image %}
{% else %}
  {% assign background_image = page.header.background_image %}
{% endif %}
<div class="uk-position-relative{% if background_image %} uk-background-{{ page.header.background_align | default: 'center-center' }} uk-background-cover{% endif %}" style="{% if page.header.background_color contains '#' or page.header.background_color contains 'rgb' %}background: {{ page.header.background_color }};{% endif %}{% if background_image %}background-image: url({% if background_image contains 'http' %}{{ background_image }}{% else %}{{ site.uploads | absolute_url }}{{ background_image }}{% endif %});{% endif %}"{% if page.header.height == 'full' %} data-uk-height-viewport{% endif %}>
  {%- if page.header.background_video -%}
  <div class="uk-position-cover uk-cover-container">
    <video autoplay loop muted playsinline data-uk-cover>
      <source src="{% if page.header.background_video contains 'http' %}{{ page.header.background_video }}{% else %}{{ site.uploads | absolute_url }}{{ page.header.background_video }}{% endif %}" type="video/mp4">
    </video>
  </div>
  {%- endif -%}
  <div class="uk-position-cover" style="{% if page.header.background_overlay %} background: {{ page.header.background_overlay }};{% endif %}"></div>

  {% if sticky %}
    <div data-uk-sticky="{% if scroll_up %}show-on-up: true; {% endif %}{% if animation %}animation: uk-animation-slide-top; top: 200; {% endif %}sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky navbar-background uk-{{ color | default: 'dark' }}; cls-inactive: {% if page.navbar.transparent %}uk-navbar-transparent uk-{{ transparent_color | default: 'dark' }}{% else %}navbar-background uk-{{ color | default: 'dark' }}{% endif %}">
      <nav class="uk-navbar-container">
        {% if site.navbar.layout == 'center' %}
          {% include partials/navbar-center.html %}
        {% else %}
          {% include partials/navbar-default.html %}
        {% endif %}
      </nav>
    </div>
  {% else %}
    <nav class="uk-navbar-container {% if page.navbar.transparent %}uk-navbar-transparent uk-{{ transparent_color | default: 'dark' }}{% else %}navbar-background uk-{{ color | default: 'dark' }}{% endif %}">
      {% if site.navbar.layout == 'center' %}
        {% include partials/navbar-center.html %}
      {% else %}
        {% include partials/navbar-default.html %}
      {% endif %}
    </nav>
  {% endif %}

  {% if page.header %}
  <div class="uk-position-relative uk-container{% if page.header.container %} uk-container-{{ page.header.container }}{% endif %}{% if page.header.height == 'full' %} uk-flex uk-flex-middle{% endif %}"{% if page.header.height == 'full' %} data-uk-height-viewport="offset-top: true"{% endif %}>
    <div class="uk-section uk-section-{{ page.header.header_size | default: 'regular' }}{% if page.header.header_padding_remove %} uk-padding-remove-{{ page.header.header_padding_remove }}{% endif %} uk-width-1-1 uk-{{ page.header.color | default: 'dark' }}"{% if page.header.parallax %} data-uk-parallax="y: 100;"{% endif %}>
      {% if page.header.layout == '1-1' %}
        <div class="uk-flex uk-text-center uk-flex-middle uk-flex-center">
          <div class="uk-width-1-1">
            {% if page.header.content.block %}
              {%- assign container = site.blocks | where:"slug", page.header.content.block | first -%}
              {% unless page.header.content.title == false %}
                <h1 class="uk-heading-{{ page.header.heading_size | default: 'medium' }}">{{ container.title | escape }}</h1>
              {% endunless %}
              {% if container.subtitle %}
                <div class="uk-text-lead">{{ container.subtitle }}</div>
              {% endif %}
              {% unless container.content == blank %}
                <div{% unless page.header.content.title == false %} class="uk-margin-large-top"{% endunless %}>
                  {{ container.content }}
                </div>
              {% endunless %}
            {% endif %}
          </div>
        </div>
      {% elsif page.header.layout == '2-3' or page.header.layout == '1-2' or page.header.layout == '1-3' %}
        <div class="uk-grid-large uk-flex uk-flex-middle uk-flex-center@m" data-uk-grid>
          <div class="uk-width-{{ page.header.layout | default: '2-3' }}@m">
            {% if page.header.content.block %}
              {%- assign container = site.blocks | where:"slug", page.header.content.block | first -%}
              {% unless page.header.content.title == false %}
                <h1 class="uk-heading-{{ page.header.heading_size | default: 'medium' }}">{{ container.title | escape }}</h1>
              {% endunless %}
              {% if container.subtitle %}
                <div class="uk-text-lead">{{ container.subtitle }}</div>
              {% endif %}
              {% unless container.content == blank %}
                <div{% unless page.header.content.title == false %} class="uk-margin-large-top"{% endunless %}>
                  {{ container.content }}
                </div>
              {% endunless %}
            {% endif %}
          </div>
          <div class="uk-width-expand@m">
            {% if page.header.content-2.block %}
              {%- assign content-2 = site.blocks | where:"slug", page.header.content-2.block | first -%}
              {% unless page.header.content-2.title == false %}
                <h1 class="uk-heading-{{ page.header.heading_size | default: 'medium' }}">{{ content-2.title | escape }}</h1>
              {% endunless %}
              {% if content-2.subtitle %}
                <div class="uk-text-lead">{{ content-2.subtitle }}</div>
              {% endif %}
              {% unless content-2.content == blank %}
                <div{% unless page.header.content-2.title == false %} class="uk-margin-large-top"{% endunless %}>
                  {{ content-2.content }}
                </div>
              {% endunless %}
            {% endif %}
          </div>
        </div>
      {% elsif page.header.layout == 'left' %}
        <div class="uk-flex uk-flex-middle" data-uk-grid>
          <div class="uk-width-2-3@m">
            <h1 class="uk-heading-{{ page.header.heading_size | default: 'medium' }}">{{ page.title | escape }}</h1>
            {% if page.subtitle %}
              <div class="uk-text-lead">{{ page.subtitle }}</div>
            {% endif %}
            {% if page.layout =='post' %}
              <div class="uk-margin-medium-top">
                {% include post-meta.html %}
              </div>
            {% endif %}
          </div>
        </div>
      {% elsif page.header.layout == 'center' %}
        <div class="uk-flex uk-text-center uk-flex-middle uk-flex-center uk-container uk-container-small">
          <div class="uk-width-1-1">
            <h1 class="uk-heading-{{ page.header.heading_size | default: 'medium' }}">{{ page.title | escape }}</h1>
            {% if page.subtitle %}
              <div class="uk-text-lead">{{ page.subtitle }}</div>
            {% endif %}
            {% if page.layout =='post' %}
              <div class="uk-flex uk-flex-center uk-margin-medium-top">
                {% include post-meta.html %}
              </div>
            {% endif %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
  {% endif %}
</div>