---
layout: default
---

<article class="uk-article">
  <div class="uk-article-content button-link uk-margin-medium-top-">
    {{ content }}
    {% if page.share %}
        {% include share.html %}
    {% endif %}
  </div>
  
  {% if page.mailchimp %}
    <div class="uk-margin-large-top uk-background-muted uk-padding-large">
      <h3 class="uk-margin-remove-top uk-margin-medium-bottom uk-text-center">{{ site.data[site.template].translation[site.lang].newsletter_signup | default: 'Newsletter Signup' }}</h3>
      {% include mailchimp.html %}
    </div>
  {% endif %}

  {% if site.disqus.shortname %}
      {% include disqus_comments.html %}
  {% endif %}
</article>

{% if page.related %}
  {% include related-posts.html %}
{% endif %}